# Ignore File Type
*.exe
*.obj
*.un~
*.pdb
*.cache
*.trx

# Ignore Directory
*/bin
*/bin/Debug
*/bin/Release
*/obj/Debug

# Ignore file of ADO.NET Study 
csharp-study/ADO.NET-Study-2017/ADO.NETLib/bin/Debug/ADO.NETLib.dll
csharp-study/ADO.NET-Study-2017/ADO.NETLib/obj/Debug/ADO.NETLib.dll
csharp-study/ADO.NET-Study-2017/ADO.NETLibTest/bin/Debug/ADO.NETLib.dll
csharp-study/ADO.NET-Study-2017/ADO.NETLibTest/bin/Debug/ADO.NETLibTest.dll
csharp-study/ADO.NET-Study-2017/ADO.NETLibTest/obj/Debug/ADO.NETLibTest.dll
csharp-utility/CodeSnippetLab/Jedi.CS.Practice/bin/Debug/Jedi.CS.Practice.dll
csharp-utility/CodeSnippetLab/Jedi.CS.Practice/obj/Debug/Jedi.CS.Practice.dll
csharp-utility/CodeSnippetLab/Jedi.CS.PracticeTest/bin/Debug/Jedi.CS.Practice.dll
csharp-utility/CodeSnippetLab/Jedi.CS.PracticeTest/bin/Debug/Jedi.CS.PracticeTest.dll
csharp-utility/CodeSnippetLab/Jedi.CS.PracticeTest/obj/Debug/Jedi.CS.PracticeTest.dll
/cs-attribute-demo/attribute-demo/bin
/cs-attribute-demo/attribute-demo/obj/x86/Debug
/cs-attribute-demo/.vs/attribute-demo/v16
/cs-attribute-demo/attribute-demo.suo
/csharp-utility/CodeSnippetLab/CodeSnippetLab/bin
/csharp-utility/CodeSnippetLab/CodeSnippetLab/obj/x86/Debug
/RayLoglibTest/SXLibrary/bin
/RayLoglibTest/SXLibrary/obj/Debug
/RayLoglibTest/WriteLog/bin
/RayLoglibTest/WriteLog/obj
/RayLoglibTest/.vs/RayLoglibTest/v16
obj
/DevGuideToCSharpCollections/vs2017-DotNET45/DevGuideToCollections-Study/DevGuideToCollections/bin
/DevGuideToCSharpCollections/vs2017-DotNET45/DevGuideToCollections-Study/DevGuideToCollections/obj
/DevGuideToCSharpCollections/vs2017-DotNET45/DevGuideToCollections-Study/DevGuideToCollections.Test/bin
/DevGuideToCSharpCollections/vs2017-DotNET45/DevGuideToCollections-Study/DevGuideToCollections.Test/obj
/DevGuideToCSharpCollections/vs2017-DotNET45/DevGuideToCollections-Study/packages