<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="Data Source=localhost\sqlexpress2008;Persist Security info=True;Initial Catalog=3-tier;User ID=sa;Password=samsung1s"/>
  </appSettings>
</configuration>