@{
    Layout = "~/Views/TempAction/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.Message = "Something";
}

<h1>something will be happend - jedi's asp.net mvc project</h1>
<hr />
<h3>@ViewBag.Title</h3>
<h3>@ViewBag.Message</h3>
<p>something will be happend</p>
